./vendor/Flask-1.1.1-py2.py3-none-any.whl

./vendor/marshmallow-3.2.1-py2.py3-none-any.whl

./vendor/Flask_SQLAlchemy-2.4.1-py2.py3-none-any.whl

./vendor/PyJWT-1.7.1-py2.py3-none-any.whl

./vendor/passlib-1.7.1-py2.py3-none-any.whl

./vendor/argon2_cffi-19.1.0-cp34-abi3-manylinux1_x86_64.whl

./vendor/pytest-5.2.1-py3-none-any.whl

./vendor/Flask_Migrate-2.5.2-py2.py3-none-any.whl

./vendor/gunicorn-19.9.0-py2.py3-none-any.whl

./vendor/psycopg2-2.8.3.tar.gz

./vendor/requests-2.22.0-py2.py3-none-any.whl

./vendor/idna-2.8-py2.py3-none-any.whl

./vendor/certifi-2019.9.11-py2.py3-none-any.whl

./vendor/chardet-3.0.4-py2.py3-none-any.whl

./vendor/urllib3-1.25.6-py2.py3-none-any.whl

./vendor/Flask_Cors-3.0.8-py2.py3-none-any.whl
